.galleryImgContainer{
    object-fit: fill !important;
    height: 300px;
}
.sliderImg{
    width: 100%;
    transition-duration: 1s;
}
.galleryImgContainer :hover {
    transform: scale(1.3)
}


@media only screen and (max-width: 1000px) {
    .galleryImgContainer{
        height: 200px;
    }
}

@media only screen and (max-width: 460px) {
    .galleryImgContainer{
        height: 50px;
        object-fit: fill !important;
    }
    .sliderImg{
        width: 100%;
    }
}